{% extends "_layout.html" %}

{% block title %}
  Homepage
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
  <div class="container">
    <h1>Homepage</h1>
    {% if current_user.is_authenticated %}
      <h6>You now login as {{current_user.username}}.</h6>
    {% endif %}
    <h3>All Users : </h3>
    {% for user in users %}
    <li>
      <a href="{{url_for('users.show',username=user.username)}}">
        {{user.username}}
      </a>
    </li>
    {% endfor %}
  </div>
{% endblock %}