<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% assets "home_css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% assets "home_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block header %}
    {% endblock %}

    <title>
      {% block title %}
      {% endblock %}TUTORY
    </title>

  </head>
    <body>

      {# navbar start #}
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{url_for('home')}}">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            {%  if current_user.is_authenticated %}
            <li class="nav-item">
              <form action="{{url_for('sessions.destroy')}}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="submit" id="logout-btn" class="nav-link" value="Logout">
              </form>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('users.new')}}">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('sessions.new')}}">Sign In</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
      {# navbar end #}

      {# flash message #}
      {# https://flask.palletsprojects.com/en/1.1.x/patterns/flashing/#flashing-with-categories #}
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
  
    {% block content %}
    {% endblock %}
  </body>
</html>
